@model License1.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "");
    <div>
        <fieldset>
            <legend>Login Form</legend>

            <div class="editor-label">@Html.LabelFor(u => u.Username)</div>
            <div class="editor-field">@Html.TextBoxFor(u => u.Username)
                @Html.ValidationMessageFor(u => u.Username)
            </div>

            <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
            <div  class="editor-field">@Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>

            <br />
            <input type="submit" value="Login" />
        </fieldset>
    </div>
}